@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gravity";
    src: url('./assets/font/Gravity-Bold.otf') format('opentype'),
        url('./assets/font/Gravity-Book.otf') format('opentype'),
        url('./assets/font/Gravity-Light.otf') format('opentype'),
        url('./assets/font/Gravity-Regular.otf') format('opentype'),
        url('./assets/font/Gravity-UltraLight.otf') format('opentype');
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: "Gravity", sans-serif;
}

.custom-gradient {
    background: linear-gradient(rgb(12, 12, 12) 0%, rgb(12, 12, 12) 6%, rgba(12, 12, 12, 0) 100%);
}


.slick-dots {
    bottom: 0 !important;
}

.project-detail .slick-dots {
    display: none !important;
}

.project-detail .slick-prev {
    display: none !important;
}

.project-detail .slick-next {
    right: 5% !important;
    width: 80px !important;
    height: 80px !important;
    font-size: 50px !important;
    background: white !important;
    top: 45% !important;
}

.slick-dots li button:before {
    font-size: 30px !important;
    width: 25px !important;
    height: 25px !important;
    font-size: 15px !important;
    line-height: 29px !important;
}

.slick-dots li button {
    border: 7px solid white !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 1022px;
}

.home-card:hover .home-card_text {
    background-color: #7db2ca;
}


.home-card:hover .home-card_text h3 {
    color: #fff;
}

/* Kart giriş animasyonu */
.card-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.card-enter-active {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

/* Kart çıkış animasyonu */
.card-exit {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
}

.card-exit-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.scale-up-center {
    -webkit-animation: scale-up-center 50s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: scale-up-center 50s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}


@media (max-width: 767px) {
    .project-detail .slick-next {
        right: 10% !important;
        width: 30px !important;
        height: 30px !important;
        font-size: 20px !important;
        background: white !important;
        top: 40% !important;
    }

    .slick-list {
        padding: 0px !important;
    }
}