@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gravity";
    src: url('./assets/font/Gravity-Bold.otf') format('opentype'),
        url('./assets/font/Gravity-Book.otf') format('opentype'),
        url('./assets/font/Gravity-Light.otf') format('opentype'),
        url('./assets/font/Gravity-Regular.otf') format('opentype'),
        url('./assets/font/Gravity-UltraLight.otf') format('opentype');
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: "Gravity", sans-serif;
}

.custom-gradient {
    background: linear-gradient(rgb(12, 12, 12) 0%, rgb(12, 12, 12) 6%, rgba(12, 12, 12, 0) 100%);
}


.slick-dots {
    bottom: 0 !important;
}

.project-detail .slick-dots {
    display: none !important;
}

.project-detail .slick-prev {
    display: none !important;
}

.project-detail .slick-next {
    right: 5% !important;
    width: 80px !important;
    height: 80px !important;
    font-size: 50px !important;
    background: white !important;
    top: 45% !important;
}

.slick-dots li button:before {
    font-size: 30px !important;
    width: 25px !important;
    height: 25px !important;
    font-size: 20px !important;
    line-height: 29px !important;
}

.slick-dots li button {
    border: 0!important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 1022px;
}

.home-card:hover .home-card_text {
    background-color: #7db2ca;
}


.home-card:hover .home-card_text h3 {
    color: #fff;
}

/* Kart giriş animasyonu */
.card-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.card-enter-active {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

/* Kart çıkış animasyonu */
.card-exit {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
}

.card-exit-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.scale-up-center {
    -webkit-animation: scale-up-center 50s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: scale-up-center 50s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}


@media (max-width: 767px) {
    .project-detail .slick-next {
        right: 10% !important;
        width: 30px !important;
        height: 30px !important;
        font-size: 20px !important;
        background: white !important;
        top: 40% !important;
    }

    .slick-list {
        padding: 0px !important;
    }
}

.slick-dots {
    bottom: 2%!important;
}

.slick-dots li button {
    background: transparent;
    border: 0;
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding: 5px;
}

.slick-dots li button:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    content: "•";
    font-family: slick;
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75;
}
.slick-dots li, .slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;
}
.slick-dots li button {
    border-radius: 1022px;
    height: 25px!important;
    width: 25px!important;
}
.slick-dots li button:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    content: "•";
    font-family: slick;
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75;
}
.fi-font{
    font-family: sans-serif
}


.text-with-underline {
  display: inline-block;
  position: relative;
}

.text-with-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; /* Alt çizgi kalınlığını ayarla */
  width: 100%;
  background-color: #000; /* Alt çizgi rengini ayarla */
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.9s ease;
}

.text-with-underline:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
